* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.primary-btn {
    padding: 15px 70px;
    border: 2px solid white;
    background-color: transparent;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
}
span{
    color: #6440FB;
}

.md-flex {
    display: flex;
}

img {
    object-fit: cover;
}

/* utility classes end*/
nav {
    justify-content: space-between;
    align-items: center;
    padding:0px 20px;
}

nav #logo-img{
    width: 100px;
    object-fit: cover;
}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 60px;
}

nav ul li {
    margin: 10px;
    font-size: 1rem;
    transition: 0.2s;
}

nav ul #home {
    color: blue;
    text-transform: uppercase;
}

nav ul li:hover {
    color: blue;
}

/* navbar-end */
.hero-section {
    width: 100%;
}

.hero-section a {
    text-decoration: none;
}

.hero-section a img {
    width: 100%;
    object-fit: cover;
}

/* hero-section-end */
.edu-partner {
    text-align: center;
    padding: 50px 70px;
}

.edu-partner h1 {
    margin-bottom: 30px;
}

.edu-partner-imgs {
    justify-content: space-between;
    margin-inline: auto;
}

.edu-partner-imgs img {
    /* width: 100px; */
    /* height: 100px; */
    object-fit: contain;
    
}

.about-section {
    margin-top: 100px;
    width: 95%;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
}

.about-text {
    width: 50%;
}

.about-text h1 {
    font-size: 2.5rem;
    padding-bottom: 20px;
}

.about-text h1 span {
    color:#6440FB;
    margin-left: 10px;
}

.about-text p {
    line-height: 30px;
}

.about-text ul {
    margin-top: 20px;
    list-style: none;
    text-transform: capitalize;
    display: inline-block;
}

.about-text ul li {
    font-size: 1rem;
    font-weight: 550;
    line-height: 45px;
}

.about-text ul li span {
    padding: 5px 10px;
    background-color: #6440FB;
    color: white;
    border-radius: 50%;
    margin-right: 10px;

}

.about-text button {
    margin-top: 20px;
    display: block;
    padding: 20px 35px;
    border: none;
    border-radius: 10px;
    background-color: #6440FB;
    font-size: 1rem;
    color: white;
}

.about-img {
    width: 50%;
}

.about-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    border-radius: 5px;
}

/* about-secion-end */
.comprehensive {
    margin-top: 70px;
    text-align: center;
}

.comprehensive h1 {
    margin-bottom: 10px;
}

.comprehensive p {
    margin-bottom: 40px;
}

.comprehensive-course {
    width: 85%;
    margin-inline: auto;
    justify-content: space-between;
}

.comprehensive-course img {
    width: 350px;
    height: 350px;
}

/* comprehenive-end */
.why-us {
    margin-top: 50px;
    padding: 50px 0;
    background-color: #140342;
    color: white;
    text-align: center;
}

.why-us h1 {
    margin-bottom: 10px;
}

.why-us p {
    margin-bottom: 50px;
}

.our-main-courses {
    width: 95%;
    margin: 0 auto;
    justify-content: space-between;
}

.our-main-courses .whyus-course {
    width: 400px;
    height: 400px;
    padding: 50px;
    background-color: #140342;
    border-radius: 10px;
    transition: 0.5s;
    border: 1px solid white;
}

.whyus-course img {
    width: 100px;
    margin-bottom: 20px;
    outline: #61CE70;
}

.whyus-course h2 {
    margin-bottom: 15px;
}


.whyus-course p {
    line-height: 30px;
}

.whyus-course:hover {
    background-color: white;
    color: black;
}

/* whyus-end */
.demended-courses {
    margin-top: 50px;
    text-align: center;

}

.demended-courses h1 {
    margin-bottom: 30px;
}

.demand-card {
    width: 92%;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: space-between;
    margin: 0 auto;
    row-gap: 20px;
}

.demand-card img {
    width: 100%;
    height: 400px;
}

/* demend-end */
.founder {
    margin-top: 100px;
    width: 90%;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
  flex-direction: row-reverse;
}
.founder-img{
    width: 40%;
}
.founder-img img{
    width: 100%;
    height: 80vh;
}
/* founder-end */
.directer{
   margin-top: 100px;
    width: 100%;
    padding: 20px 50px;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;  
}
.directer .about-img{
   width: 23%;
   height: 350px;
   margin-right: 150px;
}
.directer .about-img img{
    width: 100%;
    height: 100%;
}


.enroll {
    width: 100%;
    height: 70%;
    margin-top: 50px;
    position: relative;
    text-align: center;
    color: white;
    flex-direction: column;
}

.enroll img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
}

.enroll h1 {
    position: absolute;
    top: 100px;
    left: 500px;
    font-size: 2.5rem;
}

.enroll p {
    position: absolute;
    top: 150px;
    left: 300px;
    width: 700px;
    letter-spacing: 1px;
    line-height: 22px;
    padding-top: 20px;
}

.enroll button {
    position: absolute;
    top: 250px;
    left: 600px;
    margin-top: 20px;

}

/* enrol-end */

.grow h1{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.our-Courses {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    margin-inline: auto;
}

.our-Courses .card {
    padding: 10px;
    width: 350px;
}

.our-Courses .card img {
    width: 350px;
    height: 250px;
    margin-bottom: 10px;
}

.our-Courses .card h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.our-Courses .card p {
    line-height: 22px;
    margin-bottom: 10px;
    text-align: left;
}

.our-Courses .card a {
    text-decoration: none;
    font-size: 1rem;
}
.grow-btn{
    text-align: center;
}
.grow button{
    padding: 10px 20px;
    margin-top: 30px;
    color: white;
    background-color: purple;
    text-transform: capitalize;
    border: none;
    border-radius: 3px;
    
}

/* ourcourses-end */

.system h1 {
    font-family: 3rem;
    margin: 100px;
    margin-bottom: 40px;
    text-align: center;
}

.team-members {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    row-gap: 50px;
    justify-content: space-around;
}

.team-members .member {
    text-align: center;
}

.team-members .member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.team-members .member h2 {
    margin-top: 10px;
    text-transform: uppercase;
}

/* system-end */
.look{
    margin-top: 50px;
    text-align: center;
}
.look h1{
    margin-bottom: 30px;
}
.look-images{
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(5,250px);
    justify-content: space-between;
    row-gap: 20px;
}
.look-images img{
    width: 100%;
    height: 250px;
}
.learning{
    margin-top: 60px;
    padding: 70px 0px;
    text-align: center;
    background-color:#140342;
    color: white;
}
.learning h1{
    margin-bottom: 20px;
}
.learning p{
    width: 50%;
    line-height: 30px;
    margin: 0 auto;
}
.learning button{
    margin-top: 30px;
    background-color: white;
    color: black;
}
.worldwide{
    margin-top: 50px;
    width: 100%;
    padding: 50px 50px;
    background-color: #6440FB;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.worldwide h1{
    line-height: 50px;
    color: white;
} 
.worldwide h1 span{
    color: #61CE70;
}
.worlwide-btn{
    text-align: left;
}
.worlwide-btn button{
    padding: 20px 50px;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    margin-top: 50px;
  background-color: #61CE70;
}
.anglophile-logo{
    width: 150px;
    height: 150px;
}
.anglophile-logo img{
    width: 100%;
}
.footer-link{
    background-color: #140342;
} 
.footer{
    justify-content: space-between;
    padding: 50px 30px;
    color: white;
    border-bottom: 0.1px solid white;
}
.about-institute{
    width: 25%;
}
.about-institute h1{
    margin-bottom: 20px;
}
.about-institute p{
    line-height: 30px;
}
.about-institute button{
    padding: 20px 40px;
    margin-top: 30px;
}
.footer-link--part1 h3{
    margin-bottom: 30px;
}
.footer-link--part1 ul{
list-style: none;
}
.footer-link--part1 ul li{
    margin: 30px 0px;
    transition:1s;
}
.footer-link--part1 ul li:hover{
    text-decoration: underline;
}
.copyright{
    text-align: center;
    padding: 20px 0px; 
    color: white;
}
@media (min-width:900px) and (max-width:1200px){
 body{
    overflow: hidden;
 }
    .comprehensive-course{
        width: 95%;
    }
    .comprehensive-course img{
        width: 250px;
        height: 250px;
    }
    .our-main-courses .whyus-course{
        width: 280px;
        height: 320px;
        padding: 20px;

    }
    .whyus-course img{
        width: 80px;
    }
    .whyus-course p{
        font-size: 14px;
    }
    .demand-card{
        width: 95%;
         grid-template-columns: repeat(3, 280px);
    }
    .demand-card img{
        height: 300px;
    }
    .enroll h1{
        left: 350px;

    }
    .enroll p{
        left: 250px;
    }
    .enroll button{
        left: 450px;
    }
   
    .look-images{
         grid-template-columns: repeat(3,250px);
    }
  .our-Courses{
     grid-template-columns: repeat(2, 1fr);
  }
    .our-Courses .card img {
        width: 100%;
    }
}
